html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  display: flex;
}

#root {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}